<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <script src="{% static 'app.js' %}"></script>
    <title>Vinci2Learn</title>
  </head>
  <body onload="xp_max({{user.level}})">
    <nav>
      <div class="navigation_left">
        <h1>Vinci2Learn</h1>
      </div>
      <div class="navigation_right">
        {% if user.is_authenticated%}
        <div class="xp_div">
          <div>
            <p>Level: {{user.level}}</p>
            <p>Xp: {{user.xp}}/<span id="xp_max"></span></p>
          </div>
          <div>
            <a class="username">{{user.username}}</a>
            <div>
            <a href={% url 'statistic'%}>Statistique</a>
            <span>/</span>
            {% if user.is_superuser %}
            <a>administation</a>
            <span>/</span>
            {% endif %}
            <a href={% url 'logout'%}>Deconnexion</a>
            </div>
          </div>
        </div>
        {% else %}
        <button onclick="goToLogin()">Connection</button>
        {% endif %}
      </div>
    </nav>
    <a href={% url 'lessons' %} class="back"> > Retour</a>
    <h1>Classement et Statistique</h1>
    <div class="container">
      <div class="box1">
        <h2>Dernière connexion: </h2>
        <ul>
        {% for last_connection in last_connections %}
          <li>{{last_connection.username}} - {{ last_connection.last_login|date:"Y-m-d" }} {{ last_connection.last_login|time:"H:i:s" }}</li>
        {% endfor %}
        </ul>
      </div>
      <div class="box2">
        <h2>Utilisateurs +xp: </h2>
        <ul>
          {% for xp_stat in xp_stats %}
            <li>{{xp_stat.username}} - {{xp_stat.xp}} xp</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </body>
</html>
