<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <script src="{% static 'app.js' %}"></script>
    <title>Vinci2Learn</title>
  </head>
  <body onload="xp_max({{user.level}})">
    <nav>
      <div class="navigation_left">
        <h1>Vinci2Learn</h1>
      </div>
      <div class="navigation_right">
        {% if user.is_authenticated%}
        <div class="xp_div">
          <div>
            <p>Level: {{user.level}}</p>
            <p>Xp: {{user.xp}}/<span id="xp_max"></span></p>
          </div>
          <div>
            <a class="username">{{user.username}}</a>
            <div>
            <a href={% url 'statistic'%}>Statistique</a>
            <span>/</span>
            {% if user.is_superuser %}
            <a href={% url 'create_lesson' %}>administation</a>
            <span>/</span>
            {% endif %}
            <a href={% url 'logout'%}>Deconnexion</a>
            </div>
          </div>
        </div>
        {% else %}
        <button onclick="goToLogin()">Connection</button>
        {% endif %}
      </div>
    </nav>
    <a href={% url 'lessons' %} class="back"> > Retour</a>
    <h1>{{lesson.title}}</h1>
    {% if lessonCompleted %}
    <h2 class="lessonCompleted">Le cours a déjà été effectuer</h2>
    {% endif %}
    <div>
      {% for chapiter in chapiters %}
      <div>
        <h3>{{lesson.id}}.{{chapiter.id}} {{chapiter.title}}</h3>
        <p>{{chapiter.content}}</p>
      </div>
      {% endfor %}
      <button onclick="getReward({{lesson.id}})" class="endLesson">Fnir le cours</button>
    </div>
  </body>
</html>
