<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <title>Vinci2Learn</title>
  </head>
  <body>
    <h1>Connexion</h1>
    {% for message in messages %}
      <p>{{message}}</p>
    {% endfor %}
    <form method="post">
      {% csrf_token %}
      {{form.as_p}}
      <button type="submit">Se connecter</button>
    </form>
    <a href={% url 'register' %}>Vous n'avez pas encore de compte ?</a>
  </body>
</html>
